body {
  text-align: center;
  background-color: grey;
}

h1 {
  background-color: yellow;
}

@media only screen and (min-width: 450px) {
  h1 {
    background-color: green;
  }
}

@media only screen and (min-width: 640px) {
  h1 {
    background-color: blue;
  }
}
