h1 {
  background-color: blue;
  text-align: center;
}


@media only screen and (min-width: 800px) {
  h1 {
    background-color: green;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    background-color: red;
  }
}
